/* serviços */

section.servicos {
    background-image: url(../imagens/bg-02.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

section.servicos::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1;
    backdrop-filter: blur(2px)
}

section.servicos .interface {
    padding: 80px 5%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 2;
    gap: 50px;
}

.interface-box-title {
    background-color: var(--verde-menta);
    padding: 2rem;
    border-radius: var(--borda-arredondada);
    color: --preto-suave;
    backdrop-filter: blur(1px);
}

.interface-box-title h3{
    font-family: var(--fonte-titulo);
    font-size: 3rem;
    font-weight: 400;
    position: relative;
    text-align: center;
}


.interface-box-title p {
    font-size: 1.5rem;
    font-family: var(--fonte-texto);
    line-height: 1.4;
    text-align: center;
}

.interface .servicos-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
    list-style: none;
    align-self: center;
    justify-items: center;
}

.interface .servicos-box li {
    padding: 25px;
    background-color: var(--verde-menta);
    backdrop-filter: blur(10px);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: var(--borda-arredondada);
    border: 2px solid transparent;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    transition: .3s;
}

.interface .servicos-box li:hover {
    border: 2px solid var(--verde-escuro);
}

.interface .servicos-box li h4 {
    font-family: var(--fonte-titulo);
    font-size: 1.125rem;
    font-weight: 400;
    position: relative;
    color: var(--preto-suave);
    text-align: center;
}


.interface .servicos-box li p {
    font-size: 1rem;
    font-family: var(--fonte-texto);
    line-height: 1.6;
    text-align: left;
    color: var(--preto-suave);
}

section.servicos .interface img {
    max-width: 100%;
    width: 400px;
    height: 200px;
    display: block;
    object-fit: cover;
    border-radius: var(--borda-arredondada);
}



@media (max-width:769px) {
    .interface-box-title h3 {
        font-size: 2rem;
    }

    .interface .servicos-box {
        gap: 2rem;
    }

    .interface .servicos-box li {
        padding: 2rem 1rem;
        max-width: 100%;
        width: 40ch;
    }

}